
body{
  background: $dark;
  color:#f3f3f3;
}
a{
  color: $accent
}
#board, #chessground {
  width: 750px;
  height: 750px;
}
#sidebar {
  width: 400px
}
cg-board {
  border-radius: 6px;
  background-color: #bfd1dd;
  background: url(../../public/bg/blue.svg);
}

