
$primary: rgb(54, 57, 164);
// $primary: rgb(117, 60, 240);
// $primary   : rgb(99, 105, 209);

// $primary: rgb(71, 133, 254);
// $secondary  : rgb(102, 215, 209);
$secondary  : #42d392;


$accent:  #bd93f9;

// $dark: rgb(42, 56, 79);
// $dark: #282a36;
$dark: rgb(26, 26, 26);

$positive: rgb(32, 172, 140);
$negative  : #fe5a5d;
$info: rgb(117, 232, 240);
$warning: rgb(248, 99, 189);
// $warning   : #fbc1c6;
